---
import type { GetStaticPaths } from "astro";
import { getCollection, getEntries } from "astro:content";
import { orderBy } from "lodash-es";
import OS9Window from "../../components/OS9Window.astro";
import { SingleTheme } from "../../components/singleTheme";
import { targetPaletteColors } from "../../helpers/paletteHelpers";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { customSlugify } from "../../themesLoader";

export const prerender = true;
export const getStaticPaths = (() => {
  return targetPaletteColors.map((color) => {
    return {
      props: {
        color: color,
      },
      params: {
        color: customSlugify(color[1]).toLowerCase(),
      },
    };
  });
}) satisfies GetStaticPaths;
const { color } = Astro.props;
const paletteColors = await getCollection("paletteColors");
const matchingPaletteColor =
  paletteColors.find((p) => p.data.hex === color[0]) || paletteColors[0];
const themes = await getEntries(matchingPaletteColor.data.themes);
const themesForColor = orderBy(
  themes,
  (t) => {
    // Use the index of the color (lower is more prominent) to sort the themes.
    return t.data.colors.map((c) => c.id).indexOf(color[0]);
  },
  "asc"
);
---

<style>
  .single-color-title span {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: bottom;
    border: 1px solid black;
  }
</style>
<BaseLayout title={color[1]}>
  <OS9Window title={color[1]} asElement="main">
    <div class="single-color-page">
      <h1 class="single-color-title">
        Themes with {color[1]}{" "}
        <span style={{ backgroundColor: color[0] }}></span>
      </h1>
      <div class="themes-grid">
        {
          themesForColor
            .map((t) => t.data)
            .map(async (theme) => {
              const authors = (await getEntries(theme.authors)).map(
                (a) => a.data
              );

              return <SingleTheme theme={theme} authors={authors} />;
            })
        }
      </div>
    </div>
  </OS9Window>
</BaseLayout>
