---
import type { Page } from "astro";
import { type CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import OS9Window from "./OS9Window.astro";
import PaginationBar from "./PaginationBar.astro";
import { SingleTheme } from "./singleTheme";
import { getEntries } from "astro:content";
import { SortOptions, SortOrders } from "../helpers";

interface Props {
  page: Pick<
    Page<CollectionEntry<"themes">>,
    "url" | "lastPage" | "currentPage" | "data"
  >;
}

const { page } = Astro.props;
const makeNewUrl = (sort: SortOptions, order: SortOrders) => {
  const url = new URL(Astro.url);
  url.searchParams.set("sort", sort);
  url.searchParams.set("order", order.toString());
  return url.toString();
};
---

<style>
  .themes-sorting {
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 1px solid var(--grays-500);
  }
</style>
<BaseLayout title={undefined}>
  <OS9Window asElement="main" title="Index">
    <PaginationBar slot="before-content" pagination={page} />
    <div class="themes-sorting">
      Sort by: <a href={makeNewUrl(SortOptions.CREATED, SortOrders.DESC)}
        >Updated date</a
      > | <a href={makeNewUrl(SortOptions.NAME, SortOrders.DESC)}>Name</a> | <a
        href={makeNewUrl(SortOptions.AUTHOR, SortOrders.DESC)}>Author</a
      >
    </div>
    <div class="themes-grid">
      {
        page.data
          .map((t) => t.data)
          .map(async (theme) => {
            const authors = (await getEntries(theme.authors)).map(
              (a) => a.data
            );
            return <SingleTheme theme={theme} authors={authors} />;
          })
      }
    </div>
    <PaginationBar slot="after-content" pagination={page} />
  </OS9Window>
</BaseLayout>
