---
import { shuffle, sample, uniq } from "lodash-es";
import type { Page } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import OS9Window from "./OS9Window.astro";
import PaginationBar from "./PaginationBar.astro";

import AuthorsFormatter from "./AuthorsFormatter.astro";

interface Props {
  page: Pick<
    Page<CollectionEntry<"themes">>,
    "url" | "lastPage" | "currentPage" | "data"
  >;
}

const { page } = Astro.props;
export const neededThemes = 12;
const allThemes = await getCollection("themes");
let themes = shuffle(page.data)
  .map((t) => t.data.mainThumbnail)
  .slice(0, neededThemes);
if (themes.length < neededThemes) {
  const randomAdditionalThemes = shuffle(
    allThemes.map((t) => t.data.mainThumbnail)
  ).slice(0, neededThemes * 2);
  themes = uniq([...themes, ...randomAdditionalThemes]);
}
---

<BaseLayout themesImages={themes}>
  <main>
    <OS9Window title="Index">
      <PaginationBar pagination={page} />
      <div class="themes-grid">
        {
          page.data
            .map((t) => t.data)
            .map(async (theme) => {
              return (
                <a href={`/themes/${theme.urlBase}`} class="single-theme">
                  <img
                    loading="lazy"
                    decoding="async"
                    src={`${theme.mainThumbnail}`}
                    alt=""
                  />
                  <div class="single-theme-name">{theme.name}</div>
                  <div class="single-theme-authors">
                    <AuthorsFormatter authors={theme.authors} />
                  </div>
                  <div class="single-theme-year">{theme.year || "-"}</div>
                </a>
              );
            })
        }
      </div>
      <PaginationBar pagination={page} />
    </OS9Window>
  </main>
</BaseLayout>
