---
import type { Page } from "astro";
import { OS9Button } from "./OS9Button";

interface Props {
  pagination: Pick<Page<unknown>, "url" | "lastPage" | "currentPage">;
}
const { pagination } = Astro.props;
---

<div class="macos9-window-genericbar nav">
  <div>
    {
      pagination.url.prev && (
        <>
          {pagination.lastPage > 1 && (
            <>
              <OS9Button href={pagination.url.first} rel="first">
                First
              </OS9Button>
              <OS9Button href={pagination.url.prev} rel="prev">
                Previous
              </OS9Button>
            </>
          )}
        </>
      )
    }
  </div>
  <div>
    Page {pagination.currentPage} of {pagination.lastPage}
  </div>
  <div>
    {
      pagination.url.next && (
        <>
          {pagination.lastPage > 1 && (
            <>
              <OS9Button href={pagination.url.next} rel="next">
                Next
              </OS9Button>
              <OS9Button href={pagination.url.last} rel="last">
                Last
              </OS9Button>
            </>
          )}
        </>
      )
    }
  </div>
</div>
