---
layout: layout.liquid
pagination:
  data: themes.classic
  size: 51
permalink: '/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html'
---

<main>
  {% os9Window "Home" %}
    {% render 'pagination-bar' pagination: pagination %}
    <div class="themes-grid">
      {%- for theme in pagination.items -%}
        <a href="/themes/{{ theme.urlBase | slugify }}" class="single-theme">
          <img
            loading="lazy"
            decoding="async"
            src="{{ theme.mainThumbnail }}"
            alt="">
          <div class="single-theme-name">
            {{ theme.name | escape }}
          </div>
          <div class="single-theme-authors">{{ theme.authors | default: '<em>Unknown</em>' }}</div>
          <div class="single-theme-year">{{ theme.year | default: '-' }}</div>
        </a>
      {%- endfor -%}
    </div>
    {% render 'pagination-bar' pagination: pagination %}
  {% endos9Window %}
</main>