---
layout: layout.liquid
pagination:
  data: themes.classic
  size: 51
permalink: '/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html'
---

<header>
  {% os9Window "" "header" %}
    <h1>
      <a href="/">
        Mac Themes Garden
      </a>
    </h1>
  {% endos9Window %}
</header>
<main>
  {% os9Window "" %}
    {% render 'pagination-bar' pagination: pagination %}
    <div class="themes-grid">
      {%- for theme in pagination.items -%}
        <div class="single-theme">
          <img
            loading="lazy"
            decoding="async"
            src="/{{ theme.mainThumbnail }}"
            alt="">
          <h4>
            {{ theme.name | escape }}
          </h4>
          <h5>{{ theme.authors | default: '-' }}</h5>
          <h6>{{ theme.year | default: '-' }}</h6>
        </div>
      {%- endfor -%}
    </div>
    {% render 'pagination-bar' pagination: pagination %}
  {% endos9Window %}
</main>