---
import OS9Window, { WindowButtons } from "../components/OS9Window.astro";
import { getCollectionStats } from "../content.config";
import { TZDate } from "@date-fns/tz";
import "../styles/index.css";

interface Props {
  title: string | undefined;
  description?: string;
  images?: string[];
  hideLayout?: boolean;
}

const { themes, authors } = await getCollectionStats();
const title = Astro.props.title
  ? `Mac Themes Garden | ${Astro.props.title}`
  : `Mac Themes Garden`;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const description =
  Astro.props.description ??
  `Mac Themes Garden is dedicated to showcasing schemes made for Kaleidoscope and celebrating the customization and expressiveness it enabled on Classic Mac OS.`;
const images = Astro.props.images
  ? Astro.props.images
  : ["/assets/macthemes-garden-opengraph.webp"];
const { hideLayout } = Astro.props;
const footerDate = new TZDate(
  Date.now(),
  "America/Los_Angeles"
).toLocaleDateString("en", {
  dateStyle: "medium",
});
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Mac Themes Garden Feed"
      href={new URL("feed.xml", Astro.site)}
    />
    <link rel="icon" href="/favicon.png" />
    <meta property="og:url" content={canonicalUrl} />
    <link rel="canonical" href={canonicalUrl} />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="twitter:description" content={description} />
    <meta property="og:description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="twitter:domain" content={new URL("/", Astro.site).host} />

    <meta property="twitter:title" content={title} />
    <meta property="og:title" content={title} />
    <meta name="theme-color" content="#63639c" />

    {
      images.map((image) => {
        return (
          <>
            <meta property="twitter:image" content={image} />
            <meta property="og:image" content={image} />
          </>
        );
      })
    }

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="fediverse:creator" content="@macthemes@erambert.me" />
  </head><a rel="me" href="https://social.erambert.me/@macthemes">Mastodon</a>

  <script
    defer
    is:inline
    data-domain="macthemes.garden"
    src="https://p.erambert.me/js/script.js"></script>

  <body>
    {
      !hideLayout && (
        <OS9Window
          asElement="header"
          title="Welcome!"
          classname="header-box"
          buttons={[WindowButtons.Close, WindowButtons.Collapse]}
        >
          <div class="header-image-box">
            <a href="/" class="header-image">
              <img src="/assets/macthemes-garden-header.png" alt="" />
            </a>
          </div>

          <nav>
            <ul class="macos9-menu">
              <li>
                <a href="/" class="macos9-menu-icon pixel">
                  <img src="/assets/menu/schemes-puzzle.png" alt="" />
                  <span> Schemes </span>
                </a>
              </li>
              <li>
                <a href="/authors" class="macos9-menu-icon pixel">
                  <img src="/assets/menu/file-sharing.png" alt="" />
                  <span> Authors </span>
                </a>
              </li>
              <span class="spacer" />
              <li>
                <a href="/search" class="macos9-menu-icon pixel">
                  <img src="/assets/menu/search.png" alt="" />
                  <span> Search </span>
                </a>
              </li>
              <li>
                <a href="/about" class="macos9-menu-icon pixel">
                  <img src="/assets/menu/finder-computer.png" alt="" />
                  <span> About </span>
                </a>
              </li>
            </ul>
          </nav>
        </OS9Window>
      )
    }
    <slot />
    {
      !hideLayout && (
        <OS9Window asElement="footer" title="Footer" classname="footer">
          <p>
            All the themes showcased are the property of their respective
            authors. Not affiliated with Apple Inc. <br />
            As of {footerDate}, there are{" "}
            <a href="/">{themes.toLocaleString()} themes</a> from{" "}
            <a href="/authors">{authors.toLocaleString()} authors</a> <br />
            Part of <a href="https://damien.zone">damien's zone</a>
          </p>
        </OS9Window>
      )
    }
    <!-- Script is raw to make it blocking and avoid a "flash of window with the wrong state" -->
    <script is:inline src="/windows.js"></script>
  </body>

</html>
